/* 전체 컨테이너 */
.home-container {
  width: 100%;
  min-height: 100vh;
  background: #f5f7fa;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 상단 타이틀 박스 */
.home-title-box {
  background: #245584;
  padding: 18px 40px;
  border-radius: 12px;
  margin-bottom: 40px;
  color: white;
}

.home-title {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

/* 카드 전체 묶음 */
.home-card-list {
  width: 80%;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

/* 카드 */
.home-card {
  background: white;
  padding: 22px 24px;
  border-radius: 12px;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  transition: 0.15s;
}

.home-card:hover {
  transform: translateY(-3px);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
}

.home-card h2 {
  margin: 0;
  font-size: 19px;
  color: #245584;
  font-weight: 700;
}

.home-card p {
  margin-top: 8px;
  font-size: 14px;
  color: #444;
}

/* 아래 이미지 */
.home-bottom-image-box {
  margin-top: 50px;
  margin-bottom: 80px;
}

.home-bottom-image {
  width: 300px;
  border-radius: 14px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}
.home-disclaimer {
  width: 80%;
  max-width: 650px;
  margin-top: 20px;
  margin-bottom: 60px;
  font-size: 13px;
  line-height: 1.6;
  color: #666;
  text-align: center;
}
